.services-page{
    margin-top: 6rem;
    .subTitle{
        margin:2rem 0 8rem;
        width: 70%;
    }
    .card{
        margin-bottom: 2rem;
        
        div{
            padding: 4rem 0;
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            span{
                width: 50%;
                padding:1rem;
                img{
                    width:80%;
                }
            }
        }
        
    }
    .card:nth-child(odd){
        background-color:#f3f3f3;
        
        div{
            flex-direction: row-reverse;
        }
    }
}