<!doctype html>
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow" />
    {% include "components/seo.njk" %}
    {% include "components/icons.njk" %}
    <link type="text/plain" rel="author" href="{{ '/humans.txt' | url }}" />
    <link rel="stylesheet" href="{{ '/static/css/main.css' | url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body class="{{ templateClass }}">
    {% include "components/header.njk" %}
    <main class="main">
        {{ content | safe }}
    </main>
    <button class="btn-tertiary btn--to-top">
        <i class="far fa-arrow-alt-circle-up fa-3x"></i>
    </button>
    {% include "components/contact.njk" %}
    {% include "components/footer.njk" %}
    <script src="{{ '/static/js/main.js' | url }}"></script>
</body>

</html>