$font-family-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-ibm-plex-mono: 'IBM Plex Mono', monospace;

$ahs-purple: #7E57C5;
$ahs-pink: #D20082;
$ahs-red: #ED0034;
$ahs-orange: #F58732;
$ahs-green: #5AB946;
$ahs-blue: #00A5D9;

$spacing: 18;