---
layout: layouts/service.njk
eleventyNavigation:
    key: Services
    order: 2
---
<div class="services-page">
 <div class="row">
        <div class="col">
            <div class="container">
                <h2 class="">What We Do</h2>
                <p class="subTitle">We focus primarily on marketing your business, products and services in the digital world. This is done through website design and development, search engine optimization (SEO), content marketing, paid online advertising, social media, email marketing and other services.</p>
            </div>
            <ul class="col">
                {% for service in services %}
                    <li class="card row services-page__card">
                        <div class="container">
                        <span class="card__info">
                            <h5 class="card__info--title">{{ service.title }}</h5>
                            <p class="">{{ service.summary }}</p>
                        </span>
                        <span class="">
                            <img class="" src="{{ service.img | url }}" alt=""/>
                        </span>
                        </div> 
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
