---
layout: layouts/base.njk
eleventyNavigation:
  key: Services
  order: 2
---
<div class=>
    <header>
        <h2>Our work</h2>
        <p>Take a peek at some of our latest projects.</p>
    </header>
    
    <main class="">
        {# <section class="">
            <ul>
                Cards
            </ul>
        </section> #}
        <img src="{{'/static/images/services.png'| url }}" alt="team">
    </main>
</div>