---
layout: layouts/base.njk
eleventyNavigation:
    key: Services
    order: 2
---
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="">Services</h2>
            <div class="row">
                {% for service in services %}
                <div class="col">
                    <div class="card">
                        <span class="card__info">
                            <h5 class="card__info--title">{{ service.title }}</h5>
                            <p class="card__info--summary">{{ service.summary }}</p>
                        </span>
                        <img class="card-img" src="{{ service.img | url }}" alt="" />
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>