---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
title: Home
description: Get great at designing amazing websites and mobile applications with high-performance code and neat graphics. In the Associate Degree in Computer Programming you will learn all the tricks of the digital trade.
---

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>HELLO</h1>
        </div>
    </div>
</div>