---
layout: layouts/base.njk
eleventyNavigation:
key: Home
order: 1
title: Home
description: cT² is a Digital Agency. Through hard work and sacrifice we make bugs disappear.
---
<div class="container-fluid jumbotron">
    {% include "components/jumbotron.njk" %}
</div>

<div class="container-fluid about">
    {% include "components/about.njk" %}
</div>


<div class="container">

{% if services | length %}
    {% include "components/services.njk" %}
{% endif %}


    <section class="team">
        <div class="row">
            <div class="col">
                <h2 class="display-4">Team</h2>
                <div class="row">
                    {% for person in team %}
                        <div class="col">
                            <div class="card">
                                <img class="card-img-top" src="{{ person.img }}" alt="{{ person.firstName }} {{ person.lastName }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ person.firstName }} {{ person.lastName }}</h5>
                                    <p class="card-text">{{ person.jobFunction }}</p>
                                    <a href="#" class="btn btn-primary">Email {{person.firstName}}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="row">
            <div class="col">
                <h2 class="display-4">Contact</h2>
                <p>Contacting people can be fun, and social</p>
                <a href="#" class="btn btn-primary">Contact us</a>
            </div>
        </div>
    </section>

    <section class="clients">
        <div class="row">
            <div class="col">
                <h2 class="display-4">Clients</h2>
                <div class="row">
                    {% for client in clients %}
                        <div class="col">
                            <div class="card">
                                <img class="card-img-top" src="{{ client.logo }}" alt="{{ client.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ client.name }}</h5>
                                    <a href="#" class="btn btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>
