<div class="container">
  <div class="row">
    <div class="col about__inner"> 
      <h2>We create digital products that make companies thrive.</h2>
      <hr class="hr">
      <p>cT2 is a digital product company owned by women. At cT2 we develop digital products and platforms for businesses that are daring in their search of a digital future. No matter what goals and objectives you have and challenges you are facing, we have the expertise. </p>
    </div>
  </div>
</div>