<div class="container">
  <div class="row">
    <div class="col about__inner"> 
      <h2>Who We Are</h2>
      <hr class="hr">
      <p>Are you looking for a Digital Agency in Ghent? Look no more!</p>
      <p>You found us, and we would love to assist you in your challenges to reach your clients through digital marketing. We are a passionate team of developers who will guide you through the digital landscape. </p>
    </div>
  </div>
</div>