<div class="container">
  <div class="row">
    <div class="col about__inner"> 
      <h2>Who We Are</h2>
      <hr class="hr">
      <p>We care about your product as much as you do We can are about your product as much as you do We care about your product as much as you do We can are about your product as much as you do </p>
    </div>
  </div>
</div>