<li class="card">
    <img class="card__img"src="{{member.img}}" alt="team member">
    <div class="card__info">
        <strong class="card__info--name">{{member.name}}</strong>
        <p class="card__info--position ">{{member.position}}</p>
    </div>
</li>