 {% for project in projects %}
    <li class="clients__list--item">
       <a href="{{project.link}}" target="_blank" rel="noopener noreferrer"><img src="{{project.logo | url}}" alt="{{project.subTitle}}"></a>
    </li>
{% endfor %}