<section class="container-fluid banner">
    <div class="row">
        <div class="col">
            <h3 class="">We care about your project as much as you do.</h3>
            <a href={{"./contact/index.html" | url}} class="btn btn-secondary">Contact Us</a>
        </div>
    </div>
</section>