<footer class="footer">
    <div class="container">
        <div class="row justify-content-between">
            <section>
                {% include "components/navigation-footer.njk" %}
            </section>
        </div>
    </div>
</footer>