<header class="header">    
    <div class="container">
        <div class="row justify-content-between">
            <h1 class="col logo">
                <a href="{{ '/' | url }}" title="Back to the homepage of the {{ site.subdomain }}">
                    cT²
                </a>
            </h1>
            {% include "components/navigation.njk" %}
        </div>
    </div>
</header>