<link rel="apple-touch-icon" sizes="180x180" href="{{'/static/images/icons/apple-touch-icon.png' | url}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{'/static/images/icons/favicon-32x32.png' | url}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{'/static/images/icons/favicon-16x16.png' | url}}">
<link rel="manifest" href="{{'/static/images/icons/site.webmanifest' | url }}">
<link rel="mask-icon" href="{{'/static/images/icons/safari-pinned-tab.svg' | url}}" color="#5bbad5">
<link rel="shortcut icon" href="{{'/static/images/icons/favicon.ico' | url }}">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="{{'/static/images/icons/browserconfig.xml' | url}}">
<meta name="theme-color" content="#ffffff">