<div class="container">
  <div class="row">
    <div class="col jumbotron__inner"> 
      <h1 class="jumbotron__title">{{ site.subdomain }}</h1>
      <h2 class="jumbotron__subtitle">{{ site.description }}</h2>
      <div class="">
        <a class="btn btn-primary ">Contact Us</a>
        <a class="btn btn-secondary ">Our Cases</a>
      </div>
    </div>
  </div>
</div>