<div class="container-fluid">
  <div class="row">
    <div class="col-1"> <!-- Include image here I guess -->
      <h1>{{ site.subdomain }}</h1>
      <h2>{{ site.description }}</h2>
    </div>
  </div>
</div>