<nav class="col nav">
{{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
    listElement: "ul",
    listItemElement: "li",
    listClass: "nav__list",
    listItemClass: "nav__list-item",
    listItemHasChildrenClass: "has-children",
    activeListItemClass: "nav__list-item--active",
    activeKey: eleventyNavigation.key,
    showExcerpt: false
}) | safe }}
</nav>