  <section class="work">
        <div class="row">
            <div class="col">
                <h2 class="">See Our Work</h2>
                <ul class="row work__list ">
                    {% for project in projects %}
                        <li class="work__list--item">
                            <a href="{{project.link}}" target="_blank" ><img class="card-img" src="{{ project.img | url }}" alt="{{ project.title }}" target="_blank"/></a>
                        </li>
                    {% endfor %}
                </ul>
                <a class="btn btn-secondary" href="work">View All</a>
            </div>
        </div>
    </section>