.about{
    padding: 3.5rem 0;

    color: white ;
    background-color: $ahs-green;
    &__inner{
        @include fancy-center;

        h2{
            margin-bottom:-1rem;
        }
        p{
            width: 85%;
        }
    }
}