.clients{
    padding: 1rem;
    background-color: #000000;

    &__list{
        padding:1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        &--item{
            padding:1rem;
            width: 15%;
        }
        img{
            width: 100%;
        }
    }
}