.footer-nav {
    --nav-spacing: #{$spacing*1px};

    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        list-style: none;
        margin: 0;
        padding: 0;

        &-item {
            font-family: $font-family-montserrat;
            font-size: 18px;
            font-weight: 500;

            > a {
                position: relative;
                display: block;
                color: $gray-100;
               
                padding: calc(var(--nav-spacing)/4) var(--nav-spacing);

                text-decoration: none; 

                &:hover {
                    color: rgba($gray-100, 0.48);
                }
            }

            &--active {
                > a {
                    color: $ahs-green;
                }
            }

            // &:last-of-type {
            //     background-position: 50%;
            //     background-image: linear-gradient(90deg,#5129f5 0,#5129f5 33%,#e14647 66%,#e14647);
            //     background-size: 300% 100%;
            //     padding: 2px;

            //     > a {
            //         background: $gray-100;

            //         &:hover {
            //             background: transparent;
            //         }
            //     }
            // }
        }
    }
}