.work{
    @include fancy-center;
    background-color: #111111;
    padding:4rem 0;
    overflow:hidden;
    color: #ffffff;

    &__list{
        margin-top: 4rem;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        justify-content:center;
        cursor: pointer;
        
        &--item{       
            width:30%;
            height:15rem;
            overflow: hidden;
            
        }

        img{
            width:100%;
            height:15rem;
            object-fit: cover;
            object-position: center;
            transition: .2s;
        }
        img:hover {
            transform: scale(1.2);
          }
   }
}