.services{
    margin: 7rem 0;
    display: flex;
    @include fancy-center;
    text-align: left;

    h2{
        text-align:center;
        margin-bottom: 4rem;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        padding: 0;
        .card{
            background-color:#f3f3f3;
            width: 100%;
            margin:1rem;
            padding: 2rem;
            position: relative;
            padding-bottom: 11rem;
            transition: .4s;

            &__info{
                &--summary{
                    width: 65%;  
                }
            }

            img{
                width:8rem;
                position: absolute;
                bottom: 2rem;
                right: 2rem;

            }
            &:hover {
                // hover means item is clickable and the green for the hover is also too dark.
                //background-color: $ahs-green;
            }
        }
        @media(min-width:60rem) {
            .card{
                width: 46%;
                padding-bottom: 7rem;
            }
            &__info{
                &--summary{
                    width: 15rem;  
                }
            }

        }
       
    }
    
}