.team{
    margin-top:8rem;
    @include fancy-center;

    .card{
        @include fancy-column;
        margin-bottom: 1rem;
        &-jofuntion{
            color: rgb(170, 170, 170)
        }
    }

    &__img{
        margin-top:3rem;
        width:10rem;
        border-radius:50%
        
    }
    &__body{
        margin-top:0.5rem;
    width:15rem
    }
    
    
}

